<h1>Messages</h1>
<% messages.forEach(msg => { %>
    <div>
      <p><%= msg.username %></p>
      <p><%= msg.text %></p>
      <% const formattedDate = new Date(msg.date).toLocaleString('en-US', {
        weekday: 'short',
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        hour: 'numeric',
        minute: '2-digit'
      }) %>
      <p><%= formattedDate %></p>
      <button onclick="location.href='/message?user=<%= encodeURIComponent(msg.username) %>&text=<%= encodeURIComponent(msg.text) %>&date=<%= encodeURIComponent(formattedDate) %>'">
        View Message
      </button>
      <button onclick="location.href='/delete?user=<%= encodeURIComponent(msg.username) %>'">Delete Message</button>
    </div>
<% }) %>
<br>
<a href='/new'>Post a New Message</a>