<h1>Messages</h1>
<% messages.forEach(msg => { %>
    <div>
      <p><%= msg.user %></p>
      <p><%= msg.text %></p>
      <p><%= msg.added %></p>
      <form action="/message" method="POST">
        <input type="hidden" name="user" value="<%= msg.user %>">
        <input type="hidden" name="text" value="<%= msg.text %>">
        <input type="hidden" name="date" value="<%= msg.added %>">
        <button type="submit">View Message</button>
      </form>
    </div>
<% }) %>
<a href='/new'>Post a New Message</a>